<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FYmoviePlayerController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KMoviePlaerExamper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04A34D911981F215002B1568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A34D9E1981F215002B1568</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A502DE1978CD1800D326FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A502FF1978CD1800D326FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
